@import "./reset";
@import "./base";
@import "./_calc";
@import "./calcBtn";

.header {
    padding: 2rem;
   &__title {
    text-align: center;
    color: rgb(14, 151, 14);
    font-size: 3rem;
   }
}
.calc-container {
    margin-top: 80px;
}


    
